/* ======================== DIVIDING THE MAIN CONTENT IN TO TOW ========================== */

.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.order-items{
    min-height: 500px;
    text-align: center;
    margin: 50px;
}


/* =================================== SECOND COLUMN =================================== */

.form-container{
    display: flex;
    justify-content: center;
}

/* tickle */
form{
    padding: 60px;
    margin: 10px; 
    /* background-color: #00BFFF; */
    /* background-color: #F0F4C3; */
    /* border-radius: 10px; */
    /* color: #555555; */
    /* background-color: #cbf3f0; */
}

input[type=date]{
    /* text-align: center; */
    color: #818181;
}

.grid{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
}

.grid h2{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.label-class{
    display: flex;
    flex-direction: column;
}

.name-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}

.location-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
}

input[type="text"], input[type="email"], input[type="number"], input[type="date"], select{
    border: none;
    /* box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.3); */
    
    width: 100%;
    height: 30px;
    /* border-radius: 5px; */
    outline: none;
    font-family: "Open Sans";
    font-size: 15px;
    background-color: #FFFFFF;
}

input::placeholder, input[type="text"]{
    padding-left: 5px;
}

input::placeholder, input[type="date"]{
    padding-left: 5px;
}

input::target-text{
    padding-left: 10px;
}

input[type="submit"]{
    border: none;
    background-color: transparent;
    color: #FFFFFF;
}

.submit-btn-container{
    display: flex;
    /* align-items: center; */
    justify-content: right;
}


.submit-btn{
    border: 0px;
    height: 40px;
    width: 100px;
    /* border-radius: 0px 10px; */

}

@media screen and (max-width: 1150px){
 
    .main-grid{
        grid-template-columns: 1fr;
    }


}

@media screen and (max-width: 500px){
    .header-middle{
        display: none;
    }

    /* label{ */
        /* font-size: 12px; */
    /* } */
    

    .name-section{
        grid-template-columns: 1fr;
    }

    .location-section{
        grid-template-columns: 1fr;
    }
    
}